.images{
    width: 50%;
    height: 50px;
}

.navbar-toggler a:hover{
    color:black;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

nav{
    background-color: black;
}

.dropdown:hover .dropdown-menu {display: block;}


