.navbar{
    background-color: #003300;
}
.my-content-wrapper{
    display: flex;
    flex-direction: column;
}

.navbar-toggler a:hover{
    color:black;
}

.carousel-item img {
    width: 100%;
    height: 300px;
}


.dropdown:hover .dropdown-menu {display: block;}
footer{
    align-items: center;
    background-color: #4c8c4a;
}

.text{
    padding-right: 0%;
    text-align: center;
}
.rating li{
    display: inline;
    list-style-type: none;

}
